@(account: Option[Entity[Account]])(content: Html)(implicit webJarAssets: WebJarAssets)
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DMCS</title>
        <link href="@routes.Assets.at("img/dmcs.png")" rel="shortcut icon">
        <link rel='stylesheet' href="@routes.WebJarAssets.at(webJarAssets.locate("foundation.css"))">
        <link rel='stylesheet' href="@routes.Assets.at("css/templatesite.css")">
    </head>
    <body>
        <div id="header" class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text"><a href="@routes.PublicApplication.index()">Main page</a></li>
                        <li class="menu-text"><a href="@routes.PublicApplication.accountList()">Employees</a></li>
                        @if(account.isEmpty == false){
                            <li class="menu-text"><a href="@routes.RestrictedApplication.messages()">My messages</a></li>
                            @if(account.get.data.isAdmin) {
                                <li class="menu-text"><a href="@routes.RestrictedApplication.newAccount()">Add Account</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu">
                        @if(account.isEmpty == true) {
                        <li class="menu-text"><a href="@routes.PublicApplication.signUp()">Sign up</a></li>
                        <li class="menu-text"><a href="@routes.Authentication.login()">Login</a></li>
                    } else {
                            <li class="menu-text"><a href="@routes.RestrictedApplication.account()">@account.get.data.name</a></li>
                            <li class="menu-text"><a href="@routes.Authentication.logout()">Logout</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="main-content" class="row column">
            <!-- <CONTENT> -->
            @content
            <!-- </CONTENT> -->
        </div>
        <div id="footer" class="bottom-toolbar">
            <div class="row column">
                    <p id="footerText">&copy; All rights reserved 2017</p>
            </div>
        </div>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.js"))"></script>
        <script>$(document).foundation()</script>
    </body>
</html>
