@(account: Option [Entity[Account]], accountSeq:Seq[Entity[Account]])(implicit webJarAssets: WebJarAssets)
@_template(account) {
    <div class="row column">
        <h2>List of accounts</h2>
    </div>
    <div class="row column">
        <table class="stack">
            <thead>
                <tr>
                    <th width="60%">Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Telephone</th>

                </tr>
            </thead>
            <tbody>
                @for(account <- accountSeq) {
                    <tr>
                        @defining(account.id) { employeeId =>
                            <td><a href="@routes.PublicApplication.employeePage(employeeId)">@account.data.name</a></td>
                        }
                        <td>@account.data.surname</td>
                        <td>@account.data.email</td>
                        <td>@account.data.telephone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
