@(account: Option [Entity[Account]], employee:Entity[Account], messageSeq:Seq[Entity[Message]])(implicit webJarAssets: WebJarAssets)
@_template(account) {
    <div class="row column">
        <h2>Employee page</h2>
    </div>
    <div class="row column">
        <ul>
            <li>@employee.data.name</li>
            <li>@employee.data.surname</li>
            <li>@employee.data.email</li>
            <li>@employee.data.telephone</li>
        </ul>
    </div>
    @for(message <- messageSeq) {
        <tr>
            <td>@message.data.title</td>
            <td>@message.data.content</td>
        </tr>
    }
}
