@(account: Option [Entity[Account]], employee:Entity[Account], messageSeq:Seq[Entity[Message]])(implicit webJarAssets: WebJarAssets)
@_template(account) {
    <div class="row column">
        <h2>Employee page</h2>
    </div>

    <div class="head">
        <span class="typ"> <strong>Employee's details</strong></span>
    </div>
    <div class="row column">
        <ul>
            <li>@employee.data.name</li>
            <li>@employee.data.surname</li>
            <li>@employee.data.email</li>
            <li>@employee.data.telephone</li>
        </ul>
    </div>
    <div class="head">
        <span> <strong>Employee's messages</strong></span>
    </div>
    @for(message <- messageSeq) {
        <ul>
            <li><strong>@message.data.title</strong></li>
            <p>@message.data.content</p>
        </ul>
    }
}
