@(account: Option[Entity[Account]])(implicit webJarAssets: WebJarAssets)
@_template(account) {
    <div class="row column">
        <h1>Department of Microelectronics and Computer Science</h1>
        <p>
            The Department of Microelectronics and Computer Science (DMCS), headed by Prof. Andrzej Napieralski,
            was founded in May 1996. The members of the department staff give lectures and run laboratory courses
            at the Faculty of Electrical, Electronic, Computer and Control Engineering and the International
            Faculty of Engineering, in Polish, French, and English. The Department cooperates with a wide range of
            research organizations and academia from all round the world. This international cooperation is
            constantly strengthened thanks to the <a href="https://www.mixdes.org/Mixdes3/">MIXDES</a>
                conference which is organized by DMCS annually starting from 1994.
        </p>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <a href="https://pixabay.com/photo-1417278/">
                <img class="thumbnail" src="@routes.Assets.at("img/index3.jpg")" alt="a cat" />
            </a>
        </div>
        <div class="medium-6 columns">
            <p>
                Several research projects funded by the European Union are realized in the Department.
                Between 1991 and 2007, 10 Tempus and Copernicus projects were successfully concluded,
                as well as one sponsored by NATO. Moreover, since 1994 the Department took part in the international
                project BARMINT realized within the EU research programme Esprit. From 2001 to 2008 two projects
                within the EU 5th Framework Programme (<a href="http://sewing.dmcs.pl/">SEWING</a> and
                    <a href="http://reason.imio.pw.edu.pl/">REASON</a>) and one within the 6th Framework
                (<a href="http://desy.dmcs.p.lodz.pl/">CARE</a>). Currently another 6th Framework project
                    (<a href="http://www.perplexus.org/">PERPLEXUS</a>) is approaching the end. The new
                7th Framework project (<a href="http://edumems.dmcs.pl/">EduMEMS</a>) has just started.
                    A large number of publications at international and national conferences as well as
                    papers published in renowned scientific journals result from research activities in many areas.
            </p>
        </div>
    </div>
}
